h2{
    font-family: poppins, sans-serif;
    text-align: center;   
}
p{font-family: poppins, sans-serif;
margin: 2rem;
}
.techniques-container {
            display: flex;
            justify-content: space-evenly;
            gap: 20px;
            margin-top: 20px;}
            .technique-card {
            background: white;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            width: 23%;
            min-width: 200px;
            padding: 15px;
            text-align:center;
            transition: transform 0.3s ease-in-out;
        }
        .technique-card:hover {
            transform: translateY(-5px);
        }
        .technique-card img {
            width: 100%;
            border-radius: 10px;
            height: 140px;
            object-fit: cover;
        }
        .technique-card h3 {
            font-size: 16px;
            margin: 10px 0;
            font-family: poppins, sans-serif;
            text-align: center;
        }
        .back-button {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 15px;
            background-color: rgb(35, 34, 36);
            color: white;
            text-decoration: none;
            border-radius: 5px;
            font-size: 14px;
        width: 2.5cm;
    align-self: center;
    font-family: poppins, sans-serif;}
    @media (max-width: 1024px) {
        .techniques-container {
            flex-wrap: wrap;
            justify-content: center;
        }
        .technique-card {
            width: 45%;
        }
    }
    
    @media (max-width: 768px) {
        .technique-card {
            width: 100%;
            max-width: 300px;
        }
    }
      